{%extends 'media_app/home.html'%}
{% load staticfiles %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for media in medias.all %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ media.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ media.title }}</h5>
                            <p class="card-text">{{ media.description }}</p>
                            <a href="{%url 'media_app:edit' pk=media.pk %}" class="btn btn-primary">수정</a>
                            <a href="{%url 'media_app:remove' pk=media.pk %}" class="btn btn-primary">삭제</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

