{% load staticfiles %}
<a class="nav-item nav-link" href="{% url 'mediaform' %}">글쓰기</a>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
        {% for media in medias.all %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="{{ media.image.url }}" alt=" Card image cap">
              <div class="card-body">
                <h4>{{ media.title }}</h4>
                <p class="card-text">{{ media.description }}</p>
              </div>
            </div>
          </div>
      {% endfor %}
      </div>
    </div>
  </div>